html{
	font-family: 'Roboto' , sans-serif;
}
.btnetlogo{
	
	height: 40px;
	display: flex;
	justify-content: space-around;
	padding: 3px;
	padding-left: 1100px;
}
.logo img{
	width: 20px;
	padding: 8px;
	color: white;
}
.btn1{
	background-color: #b30047;
	color: white;
	border-radius: 5px;
	width: 160px;
	height: 35px;
	font-size: 15px;
	border-style: none;
	font-weight: bold;
}
.btn2{
	border-radius: 5px;
	background-color: white;
	width: 160px;
	height: 35px;
	font-size: 15px;
	border-width: 1px;
	border-color: black;
	font-weight: bold;

}
.alertes img{
	width: 10px;
}
.reseaux{
	background-color: black;
	margin: 0px 180px 0px 180px;
	display: flex;
	justify-content: flex-end;
	padding-right: 25px;

}
.reseaux a{
	color: white;
	padding: 10px;

}

.btnetlogo img{
	width: 45px;
}



.urbancomics img{

	width:90px;
	height:70px;
	padding:2px 0px 2px 80px;
}
.navbar{
	background-color:#161616;
	text-align: center;
	padding: 10px;
	
}
.navbar a{
	color: white;
	padding: 12px;
	font-weight: bold;
	letter-spacing: 4px;
	
	
}
.logobox{
	display: flex;
	justify-content: space-around;
	padding: 15px 0px 50px 0px;

}
.comics{
	height: 600px;
	display: flex;
	background-color: black;
	

}
.gauche{
	height: 100%;
	width: 50%;
	background: url(https://www.urban-comics.com/wp-content/uploads/2018/12/batmanheader.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	border-right: solid 3px white;
	letter-spacing: 3px;
	box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.5);
	&:hover{
		box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.6);
		
	}


}

.droite{
	width: 50%;
	display: flex;
    flex-wrap: wrap;
    
    letter-spacing: 3px;
    

}
.img2 {
	background: url(https://www.urban-comics.com/wp-content/uploads/2017/09/WallpapersIHateFairyland7-480x350.jpg);
	background-repeat: no-repeat;
	width: 50%;
	height: 50%;
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	border-right: solid 3px white;
	box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.5);
	&:hover{
		box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.6);
		
	}


	
}
.img3{
	background: url(https://www.urban-comics.com/wp-content/uploads/2018/12/batmansombrerefler_jock-480x350.jpg);
	background-repeat: no-repeat;
	width: 50%;
	height: 50%;
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.5);
	&:hover{
		box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.6);
		
	}
	
	
}
.img4{
	background: url(https://www.urban-comics.com/wp-content/uploads/2015/12/madpreview-790x398-480x350.jpg);
	background-repeat: no-repeat;
	width: 50%;
	height: 50%;
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	border-right: solid 3px white;
	border-top: solid 3px white;
	box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.5);
	&:hover{
		box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.6);
		
	}
}
.img5{
	background: url(https://www.urban-comics.com/wp-content/uploads/2018/12/batmanfrankmiller-480x350.jpg);
	background-repeat: no-repeat;
	width: 50%;
	height: 50%;
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	border-top: solid 3px white;
	box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.5);
	&:hover{
		box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.6);
		
	}
	
}
.droite h2, .gauche h2{
	color: white;
	text-align: center;

}
.gauche h2{
	font-size: 40px;
	padding: 55px;
}
body{
	margin: 0px;

}
section{
	margin: 30px 200px 0px 200px;
	display: flex;


}

.imgbatman{
	width: 100%;


}
.titrebatman{
	
	font-size: 25px;
	letter-spacing: 7px;
	text-align: left;
	color: #0f0f0a;
}
.petimages{
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 15px;
	}
.petimages h2{
	font-size: 15px;
	letter-spacing: 3px;
	margin:10px;
}
.petimages div{
	display: flex;


}
.displayflexmoi{
	display: flex;
}
.btm1{
	

}
.colonneimages{
	width: 330px;
	background-color: #eaeae1;
	padding: 30px;
	margin-top: 30px;
	
}

.superman{
	width: 100%;
	height: 200px;
	background: url(https://www.urban-comics.com/wp-content/uploads/2018/05/superman_renaissance-360x240.jpg);
}
.walterwhite{
	width: 100%;
	height: 200px;
	background: url(https://www.urban-comics.com/wp-content/uploads/2018/05/eisner_watchmen-360x240.jpg);
}
.flash{
	width: 100%;
	height: 200px;
	background: url(https://www.urban-comics.com/wp-content/uploads/2017/07/justiceleague_guidepreview-360x240.jpg);
}
.batmanguide{
	width: 100%;
	height: 200px;
	background: url(https://www.urban-comics.com/wp-content/uploads/2015/11/batmanthedarkknightreturnspreview1-790x469-2-360x240.jpg);
}
.bouee{
	width: 100%;
	height: 200px;
}
.atelecharger a{
	text-align: center;
	font-weight: bold;

}
.colonneimages h5{
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;

}
hr{
	border: solid #ebebe0 0.5px;
	padding: 0;
	margin: 0px 30px 0px 0px;

}